$preferred_font: 'SF Pro SC','SF Pro Text','PingFang SC','Microsoft YaHei','Helvetica Neue','Arial',sans-serif;
$performance_font: 'Helvetica', 'Microsoft YaHei', sans-serif;
$icomoon-font-path: "../fonts";